body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    display: inline-block;
}

#shape-icon a {
    display: block;
    height: 100%;
    width: 100%;
}

.search-form {
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    height: 89.2vh;
    left: 35.8vw;
    min-width: 460px;
    padding: 3.4vh 2.26vw 0 1.96vw;
    position: absolute;
    top: 19.6vh;
    width: 32.6vw;
    z-index: 2;
}

.search-form__header-wrapper #header-name {
    font-size: 1.38em;
    margin: 0;
}

#shape-icon {
    background-image: url(../../images/shape.svg);
    display: block;
    float: right;
    height: 14px;
    position: relative;
    top: -2.2vh;
    width: 14px;
}

.search-form__elements-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8,1fr);
    margin-top: 3.4vh;
    row-gap: 0.96vh;
}

.search-form__elements-wrapper p {
    margin-left: 0.1vw;
}

.search-form__elements-wrapper input {
    border: 1px solid #CECECE;
    height: 4.78vh;
    position: relative;
    top: 1vh;
    width: 17.2vw;
}

.search-form__elements-wrapper .short-input {
    width: 8.2vw;
}

.search-form__bottom-button-container{
    background-color: #E9E9E9;
    bottom: 0;
    box-sizing: border-box;
    height: 11.2vh;
    left: 0;
    margin-top: 4vh;
    padding: 2.68vh 1.9vw;
    position: absolute;
    right: 0;
}

.search-form__bottom-button-container button
{
    font-family: 'Roboto';
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
}

.search-form__bottom-button-container #find-apartment {
    background: #518E6A;
    border-radius: 1px;
    border: 1px solid #518E6A;
    color: white;
    height: 5.5vh;
    min-width: 170px;
    width: 9.86vw;
}

.search-form__bottom-button-container #cancel {
    background: #FFFFFF;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: black;
    height: 5.5vh;
    margin-left: 0.3vw;
    min-width: 126px;
    width: 7.26vw;
}

.shadow-block{
    position: absolute;
    width: 100%;
    height: 140vh;
    background-color: rgba(128,128,128,0.5);
    z-index: 1;
}