html { overflow-x: hidden; }

a { 
    text-decoration: none;
} 

body {
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: 0;
}

.main-container {
    background-color: white;
    border-top: 0.4vh solid seagreen;
    box-sizing: border-box;
    margin-bottom: 3.2vh;
    margin: 15.6vh 1vw 3.4vh 9.95vw;
    min-width: 1412px;
    width: 83.25vw;
    padding-bottom: 28px;
}

.main-container__search-block
{
    padding-left: 2.86vw;
    padding-top: 2.86vw;
    margin-bottom: 3.4vh;
}

.main-container h2 {
    color: #333333;
    display: inline;
    font-size: 2.02em;
    font-style: normal;
    font-weight: 300;
    line-height: 5.24vh;
}

.search-container {
    display: block;
    font-family: 'Roboto';
    font-style: normal;  
    font-weight: 400;
    height: 7vh;
    margin-top: 4.1vh;
    position: relative;

}

.search-container input {
    border: 1px solid #CECECE;
    bottom: 0;
    box-sizing: border-box;
    display: inline-block;
    font-size: 0.98em;
    height: 6vh;
    padding-left: 0.6vw;
    position: absolute;
    width: 285px;
}

.search-container input::placeholder {
    color: #A0A0A0;
}

.search-container button {
    background-color: #518E6A;
    border-radius: 1px;
    border: 1px solid #518E6A;
    bottom: 0;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    font-size: 1em;
    height: 6vh;
    left: 295px;
    margin-left: 0.3vw;
    position: absolute;
    width: 150px; 
}

.search-container .link {
    bottom: 0;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1em;
    left: 475px;
    position: absolute;
}

.main-container__table-container {
    border-collapse: collapse;
    display: table;
    width: inherit;
}

.main-container__table-container a {
    color:#333333;
}

.main-container__table-container a:hover {
    color: #3072C4;
}

.row-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-collapse: separate;
    display: table-row;
    font-style: normal;  
    font-weight: 900;
    height: 6vh;
    text-align: left;
} 

.row:hover
{
    background-color: #F2F2F2;
}

.row {
    display: table-row;
    height: 4.86vh;
}

.row-space {
    display: table-row;
    height: 1.2vh;
    width: 100%;
}

.cell {
    display: table-cell;
    vertical-align: middle; 
}

.left {
    min-width: 920px;
    padding-left: 2.86vw;
    width: 66vw;
}

.right{
    padding-right: 5.66vw;
}

footer{
    height: 26vh;
    /* left: 0; */
    margin: 0 9.95vw;
    margin-top: 0;
}

footer p{
    color: #A1A1A1;   
    display: inline-block;
    font-size: 0.908em;
    font-style: normal;
    font-weight: 400;
    left: 0.15vw;
    margin: 0;
    position: relative;
    top: -1vh;
}

span#logo-caption
{
    font-size: 1.1em;
    font-weight: 900;
}

#logo-caption-down
{
    display: block;
    left: 1.88vw;
    margin-top: 1vh;
    position: relative;
}

#logo-img{
    background-image: url(../../images/logo.svg);
    display: inline-block;
    height: 22px;
    width: 23px;
}